
<!-- Encabezado -->
<h1 class="text-center mt-5">Evaluación Frontend TELCO Hacom</h1>

<!-- Página Principal -->
<div class="container mt-5">
  <h3>Página Principal</h3>
  <p>Bienvenido a la aplicación de gestión de libros.</p>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6 ">
      <h1>Edgar Mejía</h1>
      <h2>Full-stack Developer</h2>
      <p><strong>Ubicación:</strong> Perú</p>
      <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/legamejiav/" target="_blank">/in/legamejiav/</a></p>
      <p><strong>Teléfono:</strong> +51 949638354</p>
      <p><strong>Email:</strong> <a href="mailto:legamejiav@gmail.com">legamejiav@gmail.com</a></p>
      <p><strong>GitHub:</strong> <a href="https://github.com/edgarmejiav" target="_blank">github.com/edgarmejiav</a></p>
    </div>
  </div>
</div>
