
<div class="container mt-5">
  <h1 class="text-center mb-4">Evaluación Frontend TELCO Hacom</h1>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Edgar Mejía <span class="text-muted">| Frontend  Developer</span></h3>
            <div><strong>Ubicación:</strong> Perú</div>
            <div><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/legamejiav/" target="_blank">/in/legamejiav/</a></div>
            <div><strong>Teléfono:</strong> +51 949638354</div>
            <div><strong>Email:</strong> <a href="mailto:legamejiav@gmail.com">legamejiav@gmail.com</a></div>
            <div><strong>GitHub:</strong> <a href="https://github.com/edgarmejiav" target="_blank">github.com/edgarmejiav</a></div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card mb-4">
          <div class="card-body">
            <h3 class="card-title">Objetivo:</h3>
            <p>Realizar una aplicación Angular 11 utilizando las siguientes tecnologías:</p>
            <ul>
              <li><strong>Bootstrap</strong> o <strong>Angular Material</strong></li>
              <li><strong>Apache Echarts</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title">Tecnologías Usadas:</h3>
      <h5>Frontend:</h5>
      <ul>
        <li><strong>Angular 11</strong></li>
        <li><strong>Bootstrap</strong></li>
        <li> <strong>Angular Material</strong></li>
        <li><strong>Apache Echarts</strong> para los gráficos</li>
      </ul>

      <h5>Backend (opcional) <span class="text-danger">No Implementado</span></h5>
      <ul>
        <li>En lugar de <strong>Spring Boot WebFlux</strong>, se utilizó <strong>json-server</strong> local para pruebas y simulación de datos.</li>
      </ul>

    </div>
  </div>

  <div class="card mb-4">
    <div class="card-body">
      <h3 class="card-title">Requerimientos:</h3>
      <ol>
        <li>
          <strong>Backend con Spring Boot WebFlux (opcional):</strong>
          <p>Desarrollar un Web Service usando <strong>Spring Boot WebFlux</strong> en Java para alimentar la
            información de la web.</p>
        </li>
        <li>
          <strong>Página Principal y CRUD de Libros:</strong>
          <p>Se deben manejar las siguientes entidades:</p>
          <ul>
            <li><strong>Libro</strong>: ID, título, descripción, año, id autor, publicado, Fecha Registro</li>
            <li><strong>Autor</strong>: ID, Nombre, Género</li>
          </ul>
          <p>La aplicación debe permitir realizar operaciones CRUD para gestionar los libros y autores. La información
            se almacena en una base de datos.</p>
        </li>
        <li>
          <strong>Dashboard:</strong>
          <p>Se debe mostrar un <strong>resumen</strong> de los libros relacionados con el CRUD de libros. Incluir:</p>
          <ul>
            <li>Gráfico de barras de libros por año.</li>
            <li>Gráfico de Pie que muestre libros publicados y no publicados.</li>
            <li>Gráfico de Pie que muestre la distribución de géneros de los autores.</li>
          </ul>
          <p><strong>Detalles:</strong> Gráfico de línea que simule registros de 4,000 a 12,000 registros cada 5
            segundos. Esta simulación debe eliminar información de más de 2 horas.</p>
        </li>
        <li>
          <strong>Características adicionales:</strong>
          <ul>
            <li>Mantener la información de sesión y la ruta al presionar F5.</li>
            <li>Utilizar directivas para gráficos con URL incorrecta y fechas con formato incorrecto.</li>
            <li>Manejar los errores HTTP y mostrar mensajes de error globalmente.</li>
          </ul>
        </li>
        <li>
          <strong>Repositorio en GitHub:</strong>
          <p>Subir la aplicación a un repositorio público en GitHub y compartir el enlace al correo: <strong>alan.honorio@selectum.pe</strong>.
          </p>
        </li>
      </ol>
    </div>
  </div>


</div>


